# FILES TO BE IGNORED:
data/
visualization/
curves/
photBLG100.1.I.102672.dat
photBLG100.1.I.106173.dat
photBLG100.1.I.119596.dat
photBLG100.1.I.119596.dat
photBLG100.1.I.124027.dat
photBLG100.1.I.160378.dat
__pycache__
other/
classified/
zadanie1/
lens/
zadanie1.tar.gz
